body {
  font-family: Arial;
  background-color: rgb(135, 111, 81);
}

.login-status {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 15px;
  left: 20px;
}

.user-login-container {
  display: flex;
}

.logout-button-container {
  display: block;
  margin-top: 6px;
}

.logout-button {
  font-size: 14px;
  padding: 4px 6px;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.add-to-shopping-list-button {
  cursor: pointer;
}

.shopping-add-container {
  display: flex;
  justify-content: center;
}

.shopping-add-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 50px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 100px;
}

.shopping-list-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.shopping-list-container {
  display: flex;
  justify-content: center;
}

/* .shopping-list-grid {
  display: grid;
  grid-template-columns: 50px 150px 150px 150px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
} */

.shopping-item {
  display: grid;
  grid-template-columns: 50px 200px 50px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  font-size: larger;
  margin-bottom: 18px;
  justify-items: start;
}

/* This was the old popup sign-in.  Will leave this here in case I decide to go back */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gold;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-content {
  background-color: goldenrod;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.login-button {
  margin-top: 10px;
  cursor: pointer;
}

/* .shopping-item > * {
  margin-right: 50px;
} */

@media only screen and (max-width: 600px) {
  .shopping-add-container {
    max-width: 480px;
  }
  .shopping-add-grid {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 100px;
    overflow: auto;
  }

  .shopping-item {
    display: grid;
    grid-template-columns: 50px 100px 100px 100px;
    font-size: large;
  }

  .heading {
    margin-top: 80px;
  }

  .login-status {
    display: flex;
    position: absolute;
    top: 5px;
    left: 100px;
  }

  .quantity,
  .username {
    display: flex;
    justify-self: center;
  }
}
