body {
  font-family: Arial;
  background-color: rgb(135, 111, 81);
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.add-to-shopping-list-button {
  cursor: pointer;
}

.shopping-add-container {
  display: flex;
  justify-content: center;
}

.shopping-add-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 50px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-bottom: 100px;
}

.shopping-list-header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.shopping-list-container {
  display: flex;
  justify-content: center;
}

/* .shopping-list-grid {
  display: grid;
  grid-template-columns: 50px 150px 150px 150px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
} */

.shopping-item {
  display: grid;
  grid-template-columns: 50px 150px 150px 150px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  font-size: larger;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* .shopping-item > * {
  margin-right: 50px;
} */

@media only screen and (max-width: 600px) {
  .shopping-add-container {
    max-width: 480px;
  }
  .shopping-add-grid {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 100px;
    overflow: auto;
  }

  .shopping-item {
    display: grid;
    grid-template-columns: 50px 100px 100px 100px;
    font-size: large;
  }
}
