/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import 'tailwindcss';


body {
  background: #222;
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}